.parent_nav {
  margin-top: 0px;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.nav-div {
  display: flex;
}

li {
  margin: 10px 5px 10px 0px;
  padding: 8px 15px;
  color: gray;
}

form {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

input[type='text'] {
  width: 15rem;
  height: 2rem;

  padding: 1rem;
  color-scheme: dark;
}

input[type='text']:empty + .list {
  display: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

button {
  width: 2rem;
  padding: 2px;
  margin-left: 5px;
  border-radius: 5px;
  border-color: whitesmoke;
  cursor: pointer;
  color: gray;
}

.parent_nav a {
  text-decoration: none;
}

.parent_nav li:hover {
  cursor: pointer;
  color: white;
}

.links {
  display: none;
}

.links_view_mobile {
  display: flex;
  flex: 1;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

.darkmodeBtn {
  width: 35px;
  position: absolute;
  left: 40px;
  top: 10px;
  cursor: pointer;
}

.darkmodeBtn:hover {
  box-shadow: 1px 1px 5px white, -1px -1px -5px white;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 0 0 16px;
}

@media only screen and (min-width: 700px) {
  .parent_nav {
    margin-top: 0px;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  li {
    margin: 10px 25px 10px 0px;
    padding: 8px 12px;
    color: gray;
  }

  .button li span {
    display: none;
  }

  .darkmodeBtn {
    left: auto;
    right: 40px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 15.3rem;
  }

  .links_view_mobile {
    display: none;
  }
}
.nav-submit-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}
