.parent_nav{
    margin-top: 0px; 
    position: relative;
    display: flex;
    align-items: baseline;
}

li{
    margin: 10px 25px 10px 0px;
    padding: 8px 12px ;
    color: gray;
}
.parent_nav a{
    text-decoration: none;
}

.parent_nav li:hover{
    cursor: pointer;
    border: solid gray;
    border-radius: 5px;
    color: white;
}
